<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
          type="text/css" rel="stylesheet" >
    <link rel="stylesheet" href="style/style.css">
    <script src="style/style.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="controller/app.js"></script>
    <script src="controller/bookAuthor.js"></script>
    <script src="controller/borrower.js"></script>
    <script src="controller/loan.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://image.flaticon.com/icons/png/512/224/224595.png"
          rel="shortcut icon" type="image/x-icon"/>
    <title>Quản lý thư viện</title>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div class="row tabs-vertical" id="top">
    <div class="col s2" style="padding: 0">
        <ul class='tabs' style="padding-top: 12px">
            <br>
            <li class="center-align" style="font-size: 20px; color: rgb(255, 192, 0); font-weight: bold">
                <a href="#">
                    <img src="https://image.flaticon.com/icons/png/512/224/224595.png"
                         style="width: 100px">
                </a>
                <br>
                THƯ VIỆN
            </li>
            <br><br>
            <li class='tab'>
                <a href='#!book-author' ng-click="currentTab = 'book-author'" ng-class="{'active': currentTab == 'book-author'}">
                    <i class="material-icons inline-icon-align">library_books</i> Sách và Tác giả
                </a>
            </li>
            <li class='tab'>
                <a href='#!borrower' ng-click="currentTab = 'borrower'" ng-class="{'active': currentTab == 'borrower'}">
                    <i class="material-icons inline-icon-align">face</i> Người mượn sách
                </a>
            </li>
            <li class='tab'>
                <a href='#!loan' ng-click="currentTab = 'loan'" ng-class="{'active': currentTab == 'loan'}">
                    <i class="material-icons inline-icon-align">assignment</i> Phiếu mượn sách
                </a>
            </li>
        </ul>
    </div>

    <div class="col s10">
        <div class="tab-content" ng-view></div>
    </div>
</div>
</body>
</html>